<!DOCTYPE html>
<html>
<header>
    <title>LMS Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

</header>
<body>

<!--Navigation Bar-->
<%include navbar%>
<!--flash message norification-->
<%include messages%>