<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LMS Board</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if (!currentUser) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                <li><img src="<%= currentUser.image%>" width="40px" height="40px" class="img-circle" alt="Cinque Terre"></li>
                <li><a href="#"><strong><%= currentUser.username %></strong></a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>