
<!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
    <div data-scrollable>

        <div class="sidebar-block">
            <div class="profile">
                <a href="#">
                    <img src="http://learning.aws.ipv4.ro/html/images/people/110/guy-6.jpg" alt="people" class="img-circle width-80"/>
                </a>
                <h4 class="text-display-1 margin-none">Student Name</h4>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="active"><a href="app-student-dashboard.html"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>
            <li class="hasSubmenu">
                <a href="#course-menu"><i class="fa fa-mortar-board"></i><span>Groups</span></a>
                <ul id="course-menu">
                    <li><a href="http://learning.aws.ipv4.ro/html/app-directory-grid.html"><span>Group 1</span></a></li>
                    <li><a href="http://learning.aws.ipv4.ro/html/app-directory-list.html"><span>Group 2</span></a></li>
               </ul>
            </li>
            <li><a href="http://learning.aws.ipv4.ro/html/login.html"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        </ul>
    </div>
</div>

<!-- sidebar effects OUTSIDE of st-pusher: -->
<!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->
