<h4>Group Info</h4>
<div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
            <div class="panel-body">
                <div class="media media-clearfix-xs">
                    <div class="media-left">
                        <img src="https://d30zbujsp7ao6j.cloudfront.net/wp-content/uploads/2017/07/unnamed.png" alt="groupIMG" height="80px" width="80px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading margin-v-5-3"><a href="#"><%=group.members%> User In This Group</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
            <div class="panel-body">
                <div class="media media-clearfix-xs">
                    <div class="media-left">
                        <img src="https://www.hilmi.eu/wp-content/uploads/2016/12/Blog.png" width="80px" height="80px" alt="BlogIMG">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading margin-v-5-3"><a href="#" ><%=group.post_num%> Post in this Group</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>