<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">My Groups</h4>
    </div>
    <div class="panel-body list-group">
        <ul class="list-group">
            <%currentUser.groups.forEach(function (group) {%>
            <li class="list-group-item">
                <span class="badge pull-right"><%=group.post_num%></span>
                <a class="list-group-link" href="/groups/<%= group._id %>"><%=group.name%></a>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
