<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>


<!-- content push wrapper -->
    <!-- content push wrapper -->
    <div class="st-pusher" id="content" >

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">

            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner padding-none">

                <div class="container-fluid">


                    <div class="page-section">
                        <h1 class="text-display-1 margin-none">Overview</h1>
                    </div>



                    <br/>

                </div>

            </div><!-- /st-content-inner -->

        </div><!-- /st-content -->

    </div><!-- /st-pusher -->

    <% include ./partials/footer.ejs %>
