<%include ./partials/header%>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome Ain Shams Discussion Board</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/login" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" required="true" placeholder="User Name" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="true" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%include ./partials/footer%>