<!DOCTYPE html>
<html>
    <head>
            <title>Web Project</title>
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="keywords" content="">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
           <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Raleway" rel="stylesheet">
            <link rel="stylesheet" href="/stylesheets/stylemain.css">
            <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
         <!--<script type="text/javascript" src="js/custom.js"></script>-->
        
      
           
    </head>
    
    <body>
        <div class="container" >
            <h1> Learning</h1>
            <a href="Index.html" class="btn">Get Started </a>
        </div>
        
        
       
    </body>
</html>