<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Learning ahmed</title>

    <link href="http://learning.aws.ipv4.ro/html/css/vendor/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


    <!-- we have to find what is in this style file -->
    <!--for the slider-->
    <link href="/stylesheets/slick.css" rel="stylesheet">
    <!--// for the nav bar-->
    <link href="/stylesheets/main2.css" rel="stylesheet">
    <link href="/stylesheets/essentials.css" rel="stylesheet" />
    <link href="/stylesheets/layout.css" rel="stylesheet" />
    <link href="/stylesheets/navbar.css" rel="stylesheet" />
    <link href="/stylesheets/colors-buttons.css" rel="stylesheet" />
    <link href="/stylesheets/colors-background.css" rel="stylesheet" />
    <link href="/stylesheets/colors-text.css" rel="stylesheet" />

</head>
<body>