body {
    background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  font-size: 450%;
  color: #fff;
  margin-bottom: 20px;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}


*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}
.navbar{
  margin-bottom: 0;
}
.container-fluid {
  background-color: white;
}


.navbar-brand{
  font-family:  'Pacifico';
  color: #42A5F5;
}
.navbar-brand a{
  color: #42A5F5;
  font-size: 30px;
}
.navbar-brand a:link{
  text-decoration: none;
  color: #42A5F5;
}
.navbar-brand a:hover{
  color: #42A5F5;
}

.navbar .navbar-nav li a:hover{
  color: #42A5F5;
}

.page-section{
  margin-top: 50px;
  background-color: #f5f5f5;
}
.page-section .page-title{
  font: 900  'Raleway';
  margin-left: 40px;
  height: 30vh;
}
.page-section .page-title .title{
  padding-top: 20px;
}

.page-section .btn{
  margin-right: 20px;
  margin-top: 20px;
}

.page-section .btn:hover{

  color: cornflowerblue;
  background: #f5f5f5;
  border: solid;
}
.card {
  margin-left: 40px;
  margin-top: 20px;
  max-width: 320px;
  border-style: groove;
  border-radius: 5px;
  border-color:  #f5f5f5;
  position: relative;

}
.card-img-top{
  margin-left: 10%;
  margin-right: 15%;
  width: 250px;
  height: 250px;
  border-style: hidden;
  border-radius: 50%;
}
.card-block .btn:hover{
  color: cornflowerblue;
  background: #f5f5f5;
  border: solid;
}

.footer {
  background-color:#f5f5f5 ;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer span{
  float:left;
  margin-left: 3%;
  margin-top: 15px;
}

.footer ul{
  list-style: none;
  overflow: hidden;
  float: right;
  margin: 0.3em;
  margin-right: 10px;
  margin-top: 15px;

}
.footer ul li{
  display: inline-block;
  margin-right: 20px;
}
.footer ul a li {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

