<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">Create a new Group</h1>
        <div style="width:30%; margin:25px auto;">

            <form action="/groups" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <label for="sel1">Select Admin Of the Group:</label>
                    <select class="form-control" name="sel1">
                        <%users.forEach(function (user) {%>
                        <option id="<%user._id%>"><%= user.username%></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>

            <a href="/campgrounds">Go back to view campgrounds</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>