<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">Create a new Group</h1>
        <div style="width:30%; margin:25px auto;">

            <%=group%>

            <a href="/groups">Go back to view campgrounds</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>