<% include ../partials/template/header %>

<% include ../partials/template/navbar %>

<% include ../partials/template/group-header %>


<div class="container">
    <div class="page-section">
        <div class="row">

            <% include ../partials/template/components/my-post-card %>



            <div class="col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group form-control-material">
                            <input id="forumSearch" type="text" class="form-control" placeholder="Type to search"/>
                        </div>
                        <a href="#" class="btn btn-inverse paper-shadow relative" data-z="0.5" data-hover-z="1">Search</a>
                    </div>
                </div>
                <% include ../partials/template/components/group-requests %>

                <% include ../partials/template/components/group-info-component %>

            </div>
        </div>
    </div>
</div>

<% include ../partials/template/footer.ejs %>